rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isSelf(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return signedIn()
        && firestore.get(
          /databases/(default)/documents/users/$(request.auth.uid)
        ).data.role == 'admin';
    }

    function userDocument(userId) {
      return /databases/(default)/documents/users/$(userId);
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

    function profilePictureCooldownPassed(userId) {
      return firestore.exists(userDocument(userId))
        && (
          (
            !firestore.get(userDocument(userId)).data.keys().hasAny([
              'profile_picture_updated_at'
            ])
            || !(firestore.get(userDocument(userId)).data.profile_picture_updated_at is timestamp)
            || request.time >= firestore.get(userDocument(userId)).data.profile_picture_updated_at + duration.value(7, 'd')
          )
          && (
            !firestore.get(userDocument(userId)).data.keys().hasAny([
              'profile_image_updated_at'
            ])
            || !(firestore.get(userDocument(userId)).data.profile_image_updated_at is timestamp)
            || request.time >= firestore.get(userDocument(userId)).data.profile_image_updated_at + duration.value(7, 'd')
          )
        );
    }

    match /users/{userId}/profile_pictures/{fileName} {
      allow read: if signedIn();
      allow create, update: if isSelf(userId)
        && isImage()
        && request.resource.size < 5 * 1024 * 1024
        && profilePictureCooldownPassed(userId);
      allow delete: if isSelf(userId) || isAdmin();
    }

    match /users/{userId}/renewals/{fileName} {
      allow read: if isSelf(userId) || isAdmin();
      allow create, update: if isSelf(userId)
        && isImage()
        && request.resource.size < 10 * 1024 * 1024;
      allow delete: if isSelf(userId) || isAdmin();
    }

    match /users/{userId}/{fileName} {
      allow read: if isSelf(userId) || isAdmin()
        || (signedIn() && fileName in ['selfie.jpg', 'tricycle_front.jpg', 'tricycle_back.jpg']);
      allow write: if isSelf(userId)
        && request.resource.size < 10 * 1024 * 1024;
    }
  }
}
